* {
  padding: 5px;
  margin: 5px;
}

table {
  width: 90%;
  margin: auto;
}

caption {
  font-size: large;
  font-weight: bold;
  margin-top: 40px;
}

td {
  border: 1px solid #ccc;
}

button {
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}
